:root{
  --primary-color: #19656A;
  --primary-color-light: #2D8186;
  --primary-color-very-light: #ACE6EA;
  --primary-color-dark: #2C3864;
  --secondary-color: #243A82;
  --secondary-color-very-light: #405BB6;
  --dark-color: #2E2E2E;
  --light-color: #F6F6F6;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

@media (max-width: 340px) {
  html {
    zoom: .8;
    transform-origin: 0 0;
  }

}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  height: 100%;
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 500px;
  scroll-snap-align: start;
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
  color: var(--pimary-color);
}

a:hover {
  filter: opacity(80%);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

p {
  margin: 0;
  font-weight: 300;
    line-height: 1.15;
}

img {
  vertical-align: middle;
  border-style: none;
}

@media (max-width: 800px) {
  h1, h2, h3, h4, h5, h6 {
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  p {
    margin: 0;
    font-weight: 300;
    line-height: 1.15;
  }

}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: 0.15s ease-in-out;
}

.btn * {
  margin:0;
}

.btn:hover {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.invert {
  filter: invert(1);
}

.invisible {
  opacity: 0;
}

.pointer-none {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  top: 2rem;
  left: 2rem;
  right: 2rem;
}


nav a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 1rem 1rem;
  color: black;
}

nav a:hover {
  color: var(--primary-color);
}

.nav-item-active {
  color: var(--primary-color-light);
}

.nav-insights {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.8);
  -webkit-animation: fade-in 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	animation: fade-in 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.nav-insights a {
  color: rgb(200, 200, 200);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.nav-insights .nav-item-active, .nav-insights a:hover {
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}


/* ----------------------------------------------
 * Generated by Animista on 2020-9-26 17:8:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.title-font {
  font-family: 'Raleway', sans-serif;
}

.about-section {
  background-image: radial-gradient(circle at center right, rgb(215,215,215),rgb(251, 251, 251));
}

.page-1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.page-1-img {
  height: 100%;
  width: 50%;
  max-height: 100%;
  object-fit: cover;
}

.page-1-content {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  min-width: 40vw;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at center, rgb(255,255,255, 1) 30%, rgb(255,255,255, .4) 80%, rgba(255,255,255, .2));
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.contact-links img, .contact-links h4 {
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.chevron-about {
  position: absolute;
  bottom: 5vh;
}

.about-blur-box {
  display: none;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .page-1 {
    display: block;
  }

  .about-section {
    background-image: url("../assets/johannes_krickl1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
  }

  .page-1-img {
    width: 100%;
    object-fit: cover;
    display: none;
  }

  .about-blur-box {
    background: inherit;
    position: absolute;
    display: flex;
    width: 100%;
    height: 36%;
    bottom: 0;
    right: 0;
    filter: blur(6px);
  }

  .page-1-content {
    min-width: inherit;
    width: 100%;
    height: 36%;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: space-between;
    padding-top: 5vh;
    background-image: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .contact-links, .contact-links img{
    margin: 0;
  }

  .contact-links h4 {
    display: none;
  }

  .chevron-about {
    position: static;
    filter: invert(1);
    bottom: 0;
    height: 2rem;
  }

  .linkedin {
    filter: brightness(0) invert(1);
  }

  .linkedin:hover  {
    filter: brightness(0) invert(1);
  }
}

.page-other-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.page-other-header {
  flex-grow: 2;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  max-width: 20rem;
}

.page-other-content {
  flex-grow: 6;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;

}

@media (max-width: 800px) {
  .page-other-section {
    flex-direction: column;
      justify-content: flex-start;
  }

  .page-other-header {
    flex-grow: 0;
    margin-top: 1rem;
  }

  .page-other-content {
    padding: 0 2%;
    max-height: 90%;
  }
}

.p2-card {
  min-height: 50vh;
  margin: 2rem;
  padding: 2rem;
  background-color: var(--light-color);
  border: 1px solid rgb(240, 240, 240);

  -webkit-box-shadow: 6px 6px 30px -5px rgba(100,100,100,0.2);
  -moz-box-shadow: 6px 6px 30px -5px rgba(100,100,100,0.2);
  box-shadow: 6px 6px 30px -5px rgba(100,100,100,0.2);
}

.p2-top-header span {
  color: var(--secondary-color);
}

hr {
  background-color: rgb(200, 200, 200);
  height: 2px;
  width: 100%;
  border: none;
}

.p2-card ul {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 50vh;
}

.p2-card li {
  margin: .5rem 0 0 1.5rem;
  padding: 0 0 0 .5rem;

  line-height: normal;
}

.p2-overlay {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.p2-overlay button {
 border:none;
 background: none;
}

.p2-overlay button:hover {
  cursor: pointer;
  filter: opacity(.8);
}

.p2-indicator span {
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.p2-overlay img {
  height: 2em;
  width: auto;
  filter: invert(0.4);
}

.active-indicator {
  background-color: rgb(100, 100, 100);
}


@media (max-width: 800px) {
  .p2-card {
    height: auto;
    min-height: none;
    margin: 1rem 0;
    padding: 1rem;
  }

  .p2-overlay {
    margin-bottom: 2rem;
  }

  .p2-card ul {
    overflow-y: auto;
    max-height: calc(80% - 4rem);
  }

}

.swing-in-left-bck {
	-webkit-animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-26 9:54:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}

.p3-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  max-height: 100%;
}

.p3-header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 4.5rem;
}

.p3-content {
  flex-grow: 2;
  padding: 1rem;
  padding-bottom: 5%;
  max-height: 70vh;
  overflow: auto;

}

.p3-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1rem 2px repeat(4, 6fr 2px) 2fr 2px 1rem;
  grid-template-rows: 1.5rem 2px repeat(6, 3fr);
  align-items: stretch;
}

.p3-grid h6 {
  text-align: center;
}

.p3-entry {
  background: rgba(240, 240, 240, 0.8);
  margin: .5rem 0;
  padding: .5rem;
}

.p3-entry h5 {
  font-weight: 600;
}

.p3-selected {
  display: none;
}

@media (max-width: 800px) {
  .p3-section {
    justify-content: flex-start;
  }

  .p3-header {
    margin-top: 1rem;
  }

  .p3-content {
    padding: 0;
    max-height: none;
  }

  .p3-line {
    display: none;
  }
  .p3-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.5rem repeat(8, 1fr);
  }

  .p3-year-selector {
    background-color: var(--primary-color-very-light);
    border-radius: 4px;
    grid-column: 4 / 6 !important;
    grid-row: 1 / span 1 !important;

  }

  .p3-grid h6 {
    text-align: bottom;
    line-height: 1.5rem;
    z-index: 10;
  }

  .p3-entry {
    cursor: pointer;
  }

  .p3-entry-selected {
    background-color: var(--primary-color-very-light);
  }

  .entry-1 {
    grid-column: 1 / span 5 !important;
    grid-row: 3 / span 1 !important;
  }

  .entry-2 {
    grid-column: 1 / span 5 !important;
    grid-row: 4 / span 1 !important;
  }

  .entry-3 {
    grid-column: 1 / span 5 !important;
    grid-row: 5 / span 1 !important;
  }

  .entry-4 {
    grid-column: 1 / span 5 !important;
    grid-row: 6 / span 1 !important;
  }

  .entry-5 {
    grid-column: 1 / span 5 !important;
    grid-row: 7 / span 1 !important;
  }

  .entry-6 {
    grid-column: 1 / span 5 !important;
    grid-row: 2 / span 1 !important;
  }

  .p3-2017 {
    grid-column: 1 / span 1 !important;
    grid-row: 1 / 2;
  }
  .p3-2018 {
    grid-column: 2 / span 1 !important;
    grid-row: 1 / 2 !important;
  }
  .p3-2019 {
    grid-column: 3 / span 1 !important;
    grid-row: 1 / 2 !important;
  }
  .p3-2020 {
    grid-column: 4 / span 1 !important;
    grid-row: 1 / 2 !important;
  }
  .p3-today {
    grid-column: 5 / span 1 !important;
    grid-row: 1 / 2 !important;
  }
}

.entry-1 {
  grid-column: 3 / span 5;
  grid-row: 3 / 4;
}
.entry-2 {
  grid-column: 7 / span 5;
  grid-row: 4 / 5;
}
.entry-3 {
  grid-column: 5 / span 1;
  grid-row: 5 / 6;
}
.entry-4 {
  grid-column: 7 / span 1;
  grid-row: 6 / 7;
}
.entry-5 {
  grid-column: 7 / span 1;
  grid-row: 7 / 8;
}
.entry-6 {
  grid-column: 9 / span 3;
  grid-row: 3 / 4;
}

.p3-2017 {
  grid-column: 3 / span 1;
  grid-row: 1 / 2;
}
.p3-2018 {
  grid-column: 5 / span 1;
  grid-row: 1 / 2;
}
.p3-2019 {
  grid-column: 7 / span 1;
  grid-row: 1 / 2;
}
.p3-2020 {
  grid-column: 9 / span 1;
  grid-row: 1 / 2;
}
.p3-today {
  grid-column: 11 / span 1;
  grid-row: 1 / 2;
}

.p3-line {
  width: 100%;
  height: 100%;
  background-color: black;
}

.p3-row-line-1 {
  grid-column: 1 / 14;
  grid-row: 2 / 3;
}
.p3-column-line-1 {
  grid-column: 2 / span 1;
  grid-row: 1 / 9;
}
.p3-column-line-2 {
  grid-column: 4 / span 1;
  grid-row: 1 / 9;
}
.p3-column-line-3 {
  grid-column: 6 / span 1;
  grid-row: 1 / 9;
}
.p3-column-line-4 {
  grid-column: 8 / span 1;
  grid-row: 1 / 9;
}
.p3-column-line-5 {
  grid-column: 10 / span 1;
  grid-row: 1 / 9;
}
.p3-column-line-6 {
  grid-column: 12 / span 1;
  grid-row: 1 / 9;
}

.p4-section {
  display: block;
  padding: 0;
}

.p4-insight {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  -webkit-animation: fade-in .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: fade-in .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.p4-descr {
  width: 30%;
  min-width: 25rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.p4-overlay-wrapper {
  position: relative;
  z-index: 10;
  left: 0;
  bottom: 12%;
  display: flex;
  justify-content: center;
}

.p4-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-width: 20rem;
  padding: .7rem 1%;
  background-color: rgba(0, 0, 0, 0.4);
}

.p4-overlay button {
  border:none;
  background: none;
}

.p4-overlay button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.p4-indicator span {
  display: inline-block;
  height: .8rem;
  width: .8rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.p4-indicator .active-indicator {
  background-color: white;
}

.p4-overlay img {
  height: 2rem;
  width: auto;
  filter: invert(1);
}

.p5-content {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(5, 1fr) 1rem repeat(2, 1fr);
  align-items: stretch;
  row-gap: 10px;
  text-align: right;
  max-height: 70%;
  margin: auto;
}

.p5-content h5 {
  margin-top: .5rem;
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .p4-insight {
    justify-content: flex-end;
    padding-bottom: 60px;
  }

  .p4-descr {
    width: 100%;
    padding: 1rem;
    min-width: 0;
  }

  .p4-overlay-wrapper {
    bottom: 60px;
  }

  .p4-overlay {
    width: 100%;
    height: 60px;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.85);
    filter: invert(1);
  }

  .p5-content {
    max-height: 70%;
  }

  .p5-level {
    max-height: 2rem;
  }
}

.p5-level {
  display: flex;
  max-height: 2.5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.p5-level div {
  border-right: 1px solid black;
}

.p5-lvl1-pos {
  background-color: var(--primary-color);
  flex-grow: 8;
  filter: opacity(.8) brightness(1.2);
}

.p5-lvl1-neg {
  flex-grow: 2;
}

.p5-lvl2-pos {
  background-color: var(--primary-color);
  flex-grow: 9;
}

.p5-lvl2-neg {
  flex-grow: 1;
}

.p5-lvl3-pos {
  background-color: var(--primary-color);
  flex-grow: 9;
}

.p5-lvl3-neg {
  flex-grow: 1;
}

.p5-lvl4-pos {
  background-color: var(--primary-color);
  filter: opacity(.6) brightness(1.6);
  flex-grow: 4;
}

.p5-lvl4-neg {
  flex-grow: 6;
}

.p5-lvl5-pos {
  background-color: var(--primary-color);
  filter: opacity(.4) brightness(1.7);
  flex-grow: 3;
}

.p5-lvl5-neg {
  flex-grow: 7;
}

.p5-lvl6-pos {
  background-color: var(--secondary-color);
  flex-grow: 9;
}
.p5-lvl6-neg {
  flex-grow: 1;
}

.p5-lvl7-pos {
  background-color: var(--secondary-color);
  filter: opacity(.8) brightness(1.2);
  flex-grow: 8;
}
.p5-lvl7-neg {
  flex-grow: 2;
}

.p6-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40%;
  min-height: 10rem;
}

.p6-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 5vw;
}

.p6-list h5 {
  margin-bottom: 2rem;
}

.p6-list span {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 1rem;
  vertical-align: middle;
}

.p6-list-green span {
  background-color: var(--primary-color);
}

.p6-list-blue span {
  background-color: var(--secondary-color);
}

.p7-about {
  align-items: center;
}

.p7-blur {
  display: none;
}

.p7-content-left {
  flex-grow: 3;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p7-content-left *  {
  margin-bottom: 1rem;
}

.p7-content-left h2 {
  margin-bottom: 2rem;
}

.p7-signature {
  display: block;
}

.p7-content-right {
  margin-top: 4rem;
  flex-grow: 5;
  height: 80%;
  width: 50%;
}

.p7-img {
  display: block;
  margin: auto;
  height: 100%;
  width: 70%;
  object-fit: contain;
}

.credits {
  position: absolute;
  bottom: -600%;
  margin-bottom: 1%;
  font-family: 'Raleway', sans-serif;
  z-index: 5;
}

@media (max-width: 800px) {
  .p7-about {
    flex-direction: column-reverse;
    background-image: url("../assets/johannes_krickl1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    padding: 0;
    height: 100%;
  }

  .p7-content-left {
    height: 40%;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    position: absolute;
    justify-content: space-around;
  }

  .p7-content-left *, .p7-content-left h2 {
    margin: 0;
  }

  .p7-content-left h4 {
    display: block !important;
  }

  .credits {
    display: none;
  }

  .p7-img {
    display: none;
  }

  .p7-signature {
    filter: invert(1);
      height: 60px !important;

  }

  .p7-blur {
    display: block;
    background: inherit;
    width: 100%;
    height: 40%;
    position: absolute;
    filter: blur(6px);
  }
}
